<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

      <!-- Title -->
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" value="<%=camp.title %>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" value="<%=camp.location %>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <!-- Image Url -->
      <div class="mb-3">
        <label for="image" class="form-label">Add more image(s)</label>
        <input type="file" name="image" class="form-control" id="image" multiple>
      </div>

      <div class="mb-3">
        <% camp.images.forEach((img,i)=>{ %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
        <div class="form-check-inline">
          <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
        </div>
        <label for="image-<%= i %>">Delete?</label>
        <br>
        <% }) %>
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">₹</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%=camp.price %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]" rows="5" required><%= camp.description%></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <!-- Button -->
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>

    </form>
    <a href="/campgrounds/<%= camp._id%>">Back To Campground</a>

  </div>
</div>